<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{ app_name }}</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ route('home') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ route('profile') }}">Profile</a>
      </li>
    </ul>

    <ul class="navbar-nav">
        {#{% if auth.check %}#}
          {#<li class="nav-item">#}
            {#<a class="nav-link" href="#">{{ auth.user.name }}</a>#}
          {#</li>#}
          {#<li class="nav-item">#}
            {#<a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('logout').submit();">Sign out</a>#}
          {#</li>#}
        {#{% else %}#}
          <li class="nav-item">
            <a class="nav-link" href="{{ route('auth.login') }}" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ route('auth.register') }}">Register</a>
          </li>
        {#{% endif %}#}
    </ul>
    
  </div>
</nav>